.slider {
	height: 150px;
}

.logo img{
	height: 148px;
}

.nav {
	padding: 20px;

}
.nav li {
margin-right: 20px;

}
.navbar{
	position: none;
	float: left;
} 

.game-logo {
	height: 150px;
	width: 150px;
	margin-bottom: 20px;
}

.foto-album div {
	margin-top: 20px;
	height: 100px;
	width: 100px;
}