* {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}

h1{
	text-align: center;
	border: none;
}
.header-top{

}
.header-calltoaction{
}
.header-menu{
}

.store-header-top{
	height: 250px;
}

.store-header-menu{
	height: 20px;
}