<<<<<<< HEAD

.header-top {
=======
* {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}
>>>>>>> origin/master

h1{
	text-align: center;
	border: none;
}
.header-top{

}
.header-calltoaction{
}
.header-menu{
}

.store-header-top{
	min-height: 250px;
	padding-bottom: 30px;
	text-align: center;
}

.store-logo{
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 0;
}

.store-slider{
	display: inline-block;
	width: 800px;
	height: 250px;
}

.store-header-menu{
	height: 20px;
}

.store-header-menu ul{
	text-align: center;
	padding: 10px 0;
}

.store-header-menu ul li{
	display: inline;
	margin: 10px;
	font-weight: bold;
}

.store-container{
	padding-bottom: 30px;
}

.store-items-wrapper{
	margin: 0 auto;
	width: 730px;
	height: 202px;
}

.store-about{
	height: 250px;
}
.store-item{
	width: 200px;
	height: 200px;
	margin: 0 20px;
	display: inline-block;
}