* {
	margin: 0px;
	padding: 0px;
	font-family: 'Arimo', sans-serif;
}

.clear{
	clear: both;
}

.btn-warning{
	background-color: #fac846;
}

.bg-success, .bg-danger{
	padding: 20px;
	margin: 10px 0;
	font-weight: bold;
	width: 100%;
}

.bg-success{
	color: green;
}

.bg-danger{
	color: red;
}

.index-items h2{
	text-align: center;
}

.container {
	width: 960px;
	position: relative;
	z-index: 1;
}

/* .container input field placeholder text color */
.container ::-webkit-input-placeholder {
	color: #555555;
}

.container::-webkit-input-placeholder {
   color: #555555;
}

.container :-moz-placeholder { /* Firefox 18- */
   color: #555555;  
}

.container ::-moz-placeholder {  /* Firefox 19+ */
   color: #555555;  
}

.container :-ms-input-placeholder {  
   color: #55555;  
}

.backgroundcolor1-index {
	background-color: #ebebeb;
}

/* header */

.index-header 
{
	height: 180px;
	width: 100%;
	background-color: #000000;
}
.header-top {
	position: absolute;
	height: 40px;
	width: 100px;
	background-color: transparent;
	margin-left: 170px;
}
.header-profile-bar {
	width: 900px;
	height: 40px;
	position: relative;
	margin: 0 auto;
	color: white;
}
.header-profile-menu {
	z-index: 99;
	float: right;
	position: absolute;
	width: 200px;
	background-color: transparent;
}
.header-profile-menu a {
	text-decoration: none;
}
.header-profile-menu-top {
	height: 12px;
	width: 100%;
}
.header-profile-menu-content {
	border: 1px solid #777777;
	height: 100%;
}
.header-profile-menu-item {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #777777;
	background-color: white;
	border-bottom: 1px solid #A4A5A6;
	z-index: 999;
}
.header-profile-menu-item:hover {
	background-color: #ededed;
	border-bottom: 1px solid #777777;
}
.header-profile-menu-item img {
	float: left;
	width: 39px;
	padding-left: 4px;
	padding-right: 10px;
}
.header-profile {
	height: 40px;
}
.header-profile p {
	margin-left: 5px;
	line-height: 40px;
	float: right;
	vertical-align: bottom;
}
.header-profile img {
	float: right;
	margin: 1px;
	height: 35px;
	width: 35px;
	border: 1px solid black;
}
.header-calltoaction {
	background-color: #FFFFFF;
	height: 200px;
	width: 900px;
	margin: 0 auto;
}

.header-title {
	margin-top: 115px;
	text-align: left;
}

.header-menu {
	height: 40px;
	width: 100%;
	background-color: black;
}
/*----------------------------------------------------------------------------------------------
EINDE HEADERBAR CSS
------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------
EINDE LOGO CSS
------------------------------------------------------------------------------------------------*/

.profile-wrapper {
	z-index: 99;
	float: right;
}

/* MENU CSS */

.navborder {
	background: #dddddd;
	height: 60px;
	margin: 0 auto;
	margin-left: 455px;
}

.navcolour{
	background: #dddddd;
	margin-top: -10px;
}

ul{
	padding: 0;
	list-style: none;

}

ul li{
	display: inline-block;
	float: left;
	width: 145px;
	text-align: center;
	margin: 0 auto;

}

ul li a{
    display: block;
    background: #dddddd;
    text-decoration: none;
    padding: 20px 20px 19px 20px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: #191407;
	z-index: 9999;
	position: relative;
    }

ul li a:hover{
    background: #fac846;

}

li{
	display: inline;
	text-decoration: none;
}

ul li ul{
	display: none;
	position: absolute;
}

 ul li:hover ul{
    display: block;
    width: 60px;
}

li input 
{
	margin-top: 18px;
	width: 120px;
	float: right;
	height: 25px;
}
.search-form {
	float: right;
	width: 200px;
}
.search-btn {
	background-image: url('../img/search.png');
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	width: 25px;
	height: 25px;
	background-color: #5f5f5f;
	border: none;
}

td, th {
padding: 5px;
}

/*----------------------------------------------------------------------------------------------
EINDE MENU CSS
------------------------------------------------------------------------------------------------*/

.index-slider img
{
	width: 100%;
}

p.sloganscript 
{
	text-align: center;
	color: white;
	font-size: 20px;
	margin: 15px 0px 0px 0;
}

.index-slogan 
{
	height: 45px;
	text-align: center;
	background-color: gray;
	width: 100%;
}

.index-slogan p
{
	font-size: 20px;
	font-family: 'Century Gothic';
	padding-top: 5px;
}

/*----------------------------------------------------------------------------------------------
LOGIN CSS SCRIPT
------------------------------------------------------------------------------------------------*/

.login-title {
	margin-top: 0px;
}

/*.login-error-msg {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	list-style: none;
	background-color: #FF8D8D;
	border: 1px solid #FF0000;
}*/

/*.login-msg {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	list-style: none;
	background-color: #65ff00;
	border: 1px solid #4cbf00;
}*/

.login-screen {
	height: 300px;
	width: 500px;
	margin: 0 auto;
	background-color: white;
}

.login-form {
	padding-top: 20px;
	width: 500px;
	margin: 0 auto;
}

.login-screen button {
	float: right;
	margin-right: 10px;
}

.login-form-button {
	float: right;
}

.login-input {
	margin-bottom: 10px !important;
	margin: 0 auto;
	width: 500px;
	height: 30px;
}

.login-submit-button {
	float: right;
	width: 150px;
	height: 45px;
	border: none;
	border-radius: 5px;
	font-size: 25px;
	background: #FAC846;
}

.login-index-button {
	float: right;
	width: 90px;
	margin: 5px;
	height: 30px;
	border: none;
	border-radius: 5px;
	font-size: 25px;
	background: #FAC846;
}

/*.login-index-button:hover {
	background: #8fc800;
}
.login-submit-button:hover {
	background: #8fc800;
}*/

.header-profile-bar button {
	float: right;
}


/*----------------------------------------------------------------------------------------------
EINDE LOGIN SCRIPT CSS
------------------------------------------------------------------------------------------------*/

.profile-info {
	width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
}

.profile-info-form {
	padding-top: 20px;
	width: 500px;
	margin: 0 auto;
}

.profile-info-input {
	margin-bottom: 10px !important;
	margin: 0 auto;
	width: 500px;
	height: 30px;
}

.profile-info-form select {
	margin-bottom: 10px !important;
	margin: 0 auto;
	width: 500px;
	height: 30px;
}

.game-slider img {
	height: 150px;
	width: 700px;
}

.logo img{
	height: 148px;
}

.game-logo img{
	height: 150px;
	width: 300px;
	margin-bottom: 20px;
}

.foto-album div {
	margin-top: 20px;
	margin-right: 10px; 	
	margin-bottom: 10px;
	width: 100px;
}

.foto-album img {
	margin-top: 20px;
	height: 100px;
	width: 100px;
}

.omschrijving p 
{
	text-align: left;
}

.beschrijving p
{
	text-align: left;
}
.displayed 
{
	margin: 0 auto;
	display: block;
    z-index: -99;
}

.col-md-3 
{
	width: 225px;
}

.product-img img 
{ 
	height:175px; 
	width:100%;
	transition: opacity 0.2s;
}

.product-img img:hover{
	opacity: 0.7;
}

.product-info {
	padding-top: 10px;
	height: 65px;
	background-color: #fac846;
	text-align: center;
}

.index-items 
{
	height: 400px;
}

.index-items h2{
	margin-bottom: 50px;
}

.arrow-down {
	margin: 0 auto;
	width: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #fac846;
}

.arrow-up {
	margin-left: 6px;
	width: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #A4A5A6;
}
/*---------------------------------------------------START MUSIC PAGE------------------------------------------*/
.music-photos-wrapper{
	display: inline-block;
	width: 230px;
	margin-top: 10px;
}

img.music-photos{
	border-bottom: 5px solid #fac846;
	height: 230px;
	width: 225px;
	margin-bottom: 10px;
	float: left;
}

.musicInfo{
	margin-top: 10px;
	height: 555px;
	width: 670px;
	background: #63676a;
	float: right;
	position: absolute;
	bottom: 12px;
	right: 30px;
}

.musicInfo p{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	text-align: left;
	color: #FFFFFF;
	font-family: 'Century Gothic', sans-serif;
	font-size: 15px;

}

.musicInfo-header h2{
	width: 670px;
	height: 45px;
	background: #d6cfbf;
	margin-top: 20px;
	font-family: 'Century Gothic', sans-serif;
	font-size: 23px;
	padding-top: 10px;
	text-align: center;
	color: #9f998d;
}

.bestel{
	width: 225px;
	font-family: 'Century Gothic', sans-serif;
	font-size: 21px;
}

.product-info{
	color: black;
}

.list1 li{
	width:250px;
	text-align: left;
	float: left;
	clear: both;
	font-family: 'Century Gothic', sans-serif;
	font-size: 13px;
	color: white;
	margin-left:60px;
}

.list2 li{
	width: 250px;
	float: right;
	clear: both;
	text-align: left;
	font-family: 'Century Gothic', sans-serif;
	font-size: 13px;
	color: white;
	position: relative;
	bottom: 340px;
	right: 20px;
}

.musicInfo-footer{
	height: 20px;
	width: 670px;
	background: #fac846;
	position: absolute;
	bottom: 8px;
}

.album-amount{
	font-weight: bold;
	font-style: italic;
	text-align: center !important;
	color: #63676a !important;
	padding-top: 0 !important;
}

/*---------------------------------------------------EINDE MUSIC PAGINA------------------------------------------*/

/*---------------------------------------------------BEGIN CONTACT PAGINA------------------------------------------*/
.adresbox{
	float: left;
	margin: 20px 0px 20px 0px;
}

.contactbox{
	float: right;
	margin: 20px 0px 20px 0px;
}

#contact-form{
	height:365px;
}

#contact-form p {
    width: 100%;
    margin: 0 0 5px;
}

#contact-form input[type="text"] {
    height: 15px;
    margin-bottom: 10px;
    background-color: #e1e1e1;
}

#contact-form input, #contact-form textarea {
    border: medium none;
    float: right;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
	font-size: 16px;
    padding: 25px;
    width: 420px;
}

#contact-form textarea {
    height: 135px;
    background-color: #e1e1e1;
    resize: none;
}

#contact-form input[type="submit"]{
	   width: 150px;
	   height: 50px;
	   margin-top: 20px;
	   padding: 10px 10px 10px 10px; 
	   background-color: #3cb878;
}

#contact-form input[type="submit"]:hover{
    background-color:#ee1d25;
}

#contact-form p input.button {
    font-family: 'Century Gothic', sans-serif;
	font-size: 18px;
    font-weight:bold;
    color: #FFF;
}

.contact-adress{
	width: 465px;
	height: 315px;
	border: 2px solid #f0f0f0;
}

#contact-info{
	 font-family: 'Century Gothic', sans-serif;
	 font-size: 21px;
	 padding: 30px 10px 10px 30px;
	 margin-bottom: 10px;
}

.contacthoek{
	position: relative;
	bottom: 1px;
	left: 1px;
	float: right;
}

.contactMap{
	height: 200px;
	width: 400px;
}
/*---------------------------------------------------EINDE CONTACT PAGINA------------------------------------------*/

.footer{
	background-color: black;
	color: #FFF;
	font-size: 13px;
	padding-top: 10px;
}

.footerContact{
	color: #909090;
}

/*---------------------------------------------------BEGIN MERCHANDICE PAGINA------------------------------------------*/
.related-product {
	margin-right: 13px;
	width: 150px;
	height: 150px;
	border: 1px solid #63676a;
	display: inline;
	background-color: #63676a;
	float: left;

	position: relative;
	top: 0;
}

.related-product p {
	font-family:'Arimo', sans-serif;
	color: white;
	font-size: 14px;
	line-height: 1.42857143;
}

.related-product img{
	width: 100%;
}

.related-product img:hover{
	opacity: 0.7;
}

.related-products {
	color: #6d6a61;
	font-size:20px;
	margin-left: 14px;
	padding-top: 20px;
	font-family:'Arimo', sans-serif;
}

.shirt-info{
	padding-top: 20px;
}

.merhcandise-price{
	font-size: 20px;
	text-align: left;
}

.amount{
	font-size: 24px;
	text-align: center;
}

.related-products-wrapper {
	margin-left:16px;
}
/*---------------------------------------------------EINDE MERCHANDICE PAGINA------------------------------------------*/

.merchandise{
	margin-top: 40px;
	margin-bottom: 40px;
	color:white;
}

.merchandise h3 {
	margin-top: -15px;
	margin-bottom: -15px;
	
}

.shirt-img img {
	width: 640px;
}
.shirt-info{
	background-color: #63676a;
}

.select-size {
	margin-top: 20px;
	height: 50px;
	width: 225px;
	background-color: #d6cfbf;
	color: #6d6a61;
	margin-left: -15px;
	font-size: 20px;
}

.select-size select {
	float: right;
	height: 50px;
	width: 100px;
	background-color: #fac846;
	border: 1px solid #fac846;
}

.select-geslacht {
	margin-top: 20px;
	height: 50px;
	width: 225px;
	background-color: #d6cfbf;
	color: #6d6a61;
	margin-left: -15px;
	font-size: 20px;
}


.select-geslacht select {
	float: right;
	height: 50px;
	width: 100px;
	background-color: #fac846;
	border: 1px solid #fac846;
}

.shirt-maat{
	margin-top: 30px;
	background-color: #63676a;
}

.shirt-maat label{
	line-height: 50px;
	padding-left: 20px;
}

.paypal-payment input{
	display: block;
	margin: 45px auto;
}

img.cart-btn {
width: 400px;
margin-left: -115px;
float: left;
}

/* serious sam game page */
.backgroundcolor-seriuos-sam1 {
	height: 480px;
	background-image: url('../img/ss_bg.png');
}

.backgroundcolor-seriuos-sam1 .container {
	padding-top: 45px;
}

.backgroundcolor-seriuos-sam1 .product-info{
	padding-top: 20px;
	height: 125px;
	width:300px;
}

.product-img-ss {
	height: 250px;
	width: 300px;
}

.slider-serious-sam{
	height: 370px;
	margin-left: 20px;
}

.backgroundcolor-seriuos-sam2{
	height: 480px;
	padding-top: 50px;
}

.backgroundcolor-seriuos-sam3{
	height: 380px;
	background-color: #cdd8dc;
	padding-top: 42px;
}

.streep {
	border-top: 1px solid #bbc5c8;
}

.backgroundcolor-gun-godz1 {
	height: 480px;
	background-image: url('../img/gg_bg.png');
}

.backgroundcolor-gun-godz1 .container {
	padding-top: 45px;
}

.backgroundcolor-gun-godz1 .product-info{
	padding-top: 20px;
	height: 125px;
	width:300px;
}

.product-img-gg {
	height: 250px;
	width: 300px;
}

.backgroundcolor-gun-godz2{
	height: 480px;
	padding-top: 50px;
	background-color: #857564;
}

.backgroundcolor-gun-godz3{
	height: 460px;
	background-color: #cdd8dc;
	padding-top: 42px;
	background-image: url('../img/gg_bg.png');
}

.backgroundcolor-luftrausers1 {
	height: 480px;
	background-image: url('../img/lr_bg.png');
}
.slider-luftrausers{
	margin-left: 50px;
}

.backgroundcolor-luftrausers1 .container {
	padding-top: 45px;
}

.backgroundcolor-luftrausers1 .product-info{
	padding-top: 20px;
	height: 125px;
	width:300px;
}
.product-img-lr {
	height: 250px;
	width: 300px;
}

.backgroundcolor-luftrausers2{
	height: 480px;
	padding-top: 50px;
	background-color: #857564;
}

.backgroundcolor-luftrausers2 img{
	width: 295px;
	margin-top: 60px;
}

.backgroundcolor-luftrausers3{
	height: 460px;
	background-color: #f6e8b1;
	padding-top: 42px;	
}

.backgroundcolor-luftrausers3 img{
	margin-top: -42px;	
}

.backgroundcolor-scb1 {
	height: 480px;
	background-color: #ceb395;	
}

.backgroundcolor-scb1 .container {
	padding-top: 45px;
}

.backgroundcolor-scb1 .product-info{
	padding-top: 20px;
	height: 125px;
	width:300px;
}
.product-img-scb {
	height: 250px;
	width: 300px;
}

/*giant bom api*/
.game-description{
	height: 320px;
	overflow-y: hidden;
}



.backgroundcolor-scb2{
	height: 480px;
	padding-top: 50px;
	
}
.backgroundcolor-scb2 img{
	width: 295px;
	margin-top: 10px;
}

.backgroundcolor-scb3{
	height: 460px;
	background-color: #ceb395;
	padding-top: 42px;
	
}

.footer{
	background-color: black;
	color: #FFF;
	font-size: 13px;
	padding-top: 10px;
}

.footerContact{
	color: #909090;
}

/* footer links */
footer a{
	color: #909090;
}

footer a:hover{
	color: #fac846;
	text-decoration: none;
}


/* einde serious sam game page */


/* Pagination CSS start */
#page_navigation a{
	margin:10px;
}

.active_page{
	background:darkblue;
	color: #fff !important;
}

/* Pagination CSS end */

