* {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'Arimo', sans-serif;
}
body {
	background-color: #FAC846;
}
.header-top {
	height: 40px;
	width: 100%;
	background-color: black;
}
.header-calltoaction {
	background-color: #FFFFFF;
	height: 200px;
	width: 900px;
	margin: 0 auto;
}
.logo-slogan {
	text-align: left;
	float: left;
	width: 500px;
	height: 200px;
}
.logo-slogan img {
	float: left;
	margin-top: 10px;
	height: 180px;
	width: 180px;
}
.header-title {
	margin-top: 115px;
	text-align: left;
}
.slogantext {
	text-align: left;
}
.header-menu {
	height: 40px;
	width: 100%;
	background-color: black;
}
.navibar {
	margin: 0 auto;
	width: 900px;
	height: 40px;
	margin-top: -10px;
} 
.navibar a {
	color: white;
	text-decoration: none;
}
.navi li {
	float: left;
	padding: 10px;
	list-style: none;
	display: inline-block;
}
.container {
 	width: 900px;
 	margin: 0 auto;
 	padding: 0px;
}
.slider {
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	height: 200px;
}
.info {
	float: left;
	width: 100%;
	height: 200px;
	background-color: #FFFFFF;
}
.footer {
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
}
.login-title {
	margin-top: 0px;
}
.login-error-msg {
	margin-bottom: 5px;
	padding: 10px;
	list-style: none;
	background-color: #FF8D8D;
	border: 1px solid #FF0000;
}
.login-screen {
	height: 300px;
	width: 900px;
	margin: 0 auto;
	background-color: white;
}
.login-form {
	padding-top: 20px;
	width: 500px;
	margin: 0 auto;
}	
.login-input {
	margin-bottom: 10px !important;
	margin: 0 auto;
	width: 500px;
	height: 30px;
}
.login-submit-button {
	float: right;
	width: 150px;
	height: 45px;
	border: none;
	border-radius: 5px;
	font-size: 25px;
	background: #FAC846;
}
.login-submit-button:hover {
	background: #8fc800;
}